.links {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--word-color);
  font-size: 2rem;
}
.links a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: var(--box-color);
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  color: var(--word-color);
}